<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/my_style.css" />
    </head>
    <body>
        <h2>Welcome to the great number game!</h2>
        <h3>I am thinking of a number between 1 and 100</h3>
        <h3>Take a guess!</h3>
        <img src="../static/img/{{pic}}" alt="message">
        <form action-"/guess">
            Guess:<input type="text" name="num" value="">
            <input type="submit" value="Submit">
        </form>
        <a href="/play_again" style="">Play Again?</a>
    </body>
</html>