<html>
<head>
  <title>Basic Validation Example</title>
</head>
<body>
  <h1>Enter a Valid(Any) Name!</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action='/process' method='POST'>
    Your Name:<input type="text" name="name">
    Location:<input type="text" name="location">
    Favorite Language:<input type="text" name="language">
    Comment (optional):<input type="text" name="comment">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
