<html>
    <head></head>
    <body>
        <h1>Enter Info</h1>
        <div>
            <form action="/submitted" method="post">
                Your name:<input type="text" name="name">
                Dojo Location:<input type="text" name="location">
            <!--Favorite Language:<select name="langauge">
                                    <option value="PHP">PHP</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="Python">Python</option>
                                </select> -->
                Comment (optional):
                <input type="text" name="comment">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>